@{
    ViewBag.Title = "Landing";
}

<!--second slide-->
<div class="slides video-slide" id="content">
    <div class="absolute-full-container hidden-xs hidden-sm">
        <div class="iphone-video-container visible-lg" id="scene2">
            <video class="composizione" loop muted>
                <source src="~Content/Videos/finale-white.mp4" type='video/mp4'>
            </video>
        </div>
        <div class="static-video-container visible-md" id="scene5" style="background-image:url('~Content/Images/AOB/filler.jpg')"></div>
    </div>
    <div class="col-left padding-bottom-mobile toshow" id="scene1">
        <h2 class="green">Client Registration</h2>
        <p class="text-primary">The Lorem Ipsum for registration of Clients. May there be many more before we update these lines.</p>
        <div class="outer-button-container">
            <div class="normal-button-container">
                <a data-target="#follow" href="#" onClick="event.preventDefault(); return false;" class="btn btn-default normal-links hover-state popup-open">Register As A Client<div class="icon-container"><i class="icon icon-arrow-right"></i></div></a>
                <a data-target="#follow" href="#" onClick="event.preventDefault(); return false;" class="btn btn-default normal-links normal popup-open">Registration<div class="icon-container"><i class="icon icon-arrow-right"></i></div></a>
            </div>
        </div>
    </div>
    <div class="gif-container toshow visible-sm visible-xs">
        <img class="img-responsive" src="~Content/Images/Gif/gif-finale.gif">
    </div>
</div>

